header, main, footer{
    width: 1200px;
    margin: auto;
}

/* header */
header{   
    height: 100px;
    background-color: rgb(0, 167, 223);
    background-image: url("img/pattern.png");
    background-size: 35%;
}

#logo{
    margin-top: 40px;
    width: 15em;
}

/* main */
h1{
    margin-bottom: 0px;
}

#intestazione{
    color: rgb(119, 119, 119);
    margin-bottom: 20px;
}

#autore{
    color: rgb(0, 191, 255);
}

section > h4{
    margin: 0px;
}

.evidenziatore{
    background-color: yellow;
}

#intestazione_tabella{
    background-color: rgb(0, 191, 255);
}

.riga_colorata{
    background-color: lightblue;
}

.larghezza_colonna{
    width: 20%;
}

/* footer */
footer > h4{
    color: rgb(124, 124, 124);
}

.img{
    width: 200px;
    height: 200px;
    color: white;
    margin: 10px 0px;
}

footer h5{
    padding: 8px;
}

.foto1{
    background-image: url("img/monitor.jpg");
}

.foto2{
    background-image: url("img/graph.jpg");
}


