
main{
    width: 1200px;
    margin: auto;
}

section > span{
    color: lightgray;
}

#autore{
    color: rgb(0, 191, 255);
}

section > h4{
    margin: 0px;
}

.evidenziatore{
    background-color: yellow;
}