header, main, footer{
    width: 1200px;
    margin: auto;
}

header{   
    width: 1200px;
    height: 100px;
    background-color: rgb(0, 191, 255);
}

#intestazione{
    color: lightgray;
}

#autore{
    color: rgb(0, 191, 255);
}

section > h4{
    margin: 0px;
}

.evidenziatore{
    background-color: yellow;
}

footer > h4{
    color: rgb(124, 124, 124);
}

#intestazione_tabella{
    background-color: rgb(0, 191, 255);
}

.riga_colorata{
    background-color: lightblue;
}